IndentWidth: 4
TabWidth: 4
UseTab: Always
Standard: c++03

# Alignment / packing
AccessModifierOffset: -4
AlignEscapedNewlines: true
AlignOperands: DontAlign
AlignTrailingComments: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
PointerAlignment: Left
ReferenceAlignment: Left
QualifierAlignment: Custom
QualifierOrder:
  - static
  - inline
  - volatile
  - type
  - const
  - restrict
  - constexpr
PackConstructorInitializers: Never
BinPackParameters: false
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveMacros: true

# Spacing
SpaceAfterTemplateKeyword: false
SpacesInAngles: Always

# Breaking / wrapping
AllowShortBlocksOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeWhile: true
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: false
BreakConstructorInitializers: AfterColon
CompactNamespaces: false
ConstructorInitializerIndentWidth: 4
EmptyLineBeforeAccessModifier: LogicalBlock

FixNamespaceComments: true
KeepEmptyLinesAtTheStartOfBlocks: false
NamespaceIndentation: None
PPIndentWidth: 1
SeparateDefinitionBlocks: Always
ShortNamespaceLines: 0
SortIncludes: CaseSensitive
SortUsingDeclarations: true
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false

ColumnLimit: 0
ReflowComments: false
